<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title ? @page_title : 'Welcome' %> | The BookStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to 'BookStore', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'About', about_index_path, class: 'nav-link' %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Add New
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%=link_to "Book", new_book_path, class: "dropdown-item"%></li>
            <li><%=link_to "Category", new_category_path, class: "dropdown-item"%></li>
            <li><%=link_to "Author", new_author_path, class: "dropdown-item"%></li>
            <li><%=link_to "Publisher", new_publisher_path, class: "dropdown-item"%></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Manage
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%=link_to "Categories", categories_path, class: "dropdown-item"%></li>
            <li><%=link_to "Authors", authors_path, class: "dropdown-item"%></li>
            <li><%=link_to "Publishers", publishers_path, class: "dropdown-item"%></li>
          </ul>
        </li>

        
      </ul>
    </div>
  </div>
</nav>

<header>
  <div class="container">
    <h1>The BookStore <small><%= @page_title ? @page_title : 'Welcome' %></small></h1>
  </div>
</header>
    <section>
      <div class="container">
        <div class="col-md-8">

        <!--Alerts & Messages-->
        <% if flash[:notice] %>
          <div class="alert alert-success"><%= flash[:notice] %></div>
        <%end%>

        <% if flash[:alert] %>
          <div class="alert alert-danger"><%= flash[:alert] %></div>
        <%end%>



          <%= yield %>
        </div>
        <div class="col-md-4">
          <%= render 'partials/sidebar'%>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>Copyright &copy; 2021, All Rights Reserved </p>
      </div>
    </footer>
    
  </body>
</html>
